$colorPrimary: hsl(233, 49%, 7%);
$colorSecondary: hsl(244, 38%, 16%);
$colorAccent: hsl(277, 64%, 61%);
$colorWhite: hsl(0, 0%, 100%);
$colorWhiteLighter: hsla(0, 0%, 100%, 0.75);
$colorWhiteMoreLighter: hsla(0, 0%, 100%, 0.6);
